$color-black: #000;
$color-blue-dark: #101920;
$color-blue-light: #cbd5e2;
$color-gray: rgba(22, 22, 22, 0.5);
$color-gray-light: #eeefec;
$color-error: red;
$color-success: green;
$color-neutral: rgb(97, 97, 97);
$color-background: rgb(242, 246, 255);
$color-light-background: rgba(68, 66, 178, 0.1);
$color-deep-background: rgb(30, 19, 87);
$container-max-width: 70rem;
