$color-black: #000;
$color-blue-dark: #101920;
$color-blue-light: #cbd5e2;
$color-gray: rgba(22, 22, 22, 0.5);
$color-gray-light: #eeefec;
$color-error: red;
$color-success: green;
$color-neutral: rgb(97, 97, 97);
